@import url(https://fonts.google.com/share?selection.family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700);

body {
  background-color: white;
  font-family: "Bai Jamjuree", sans-serif;
}

.side-panel {
  background-color: #cf2525;
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.3s;
  padding-top: 40px;
}

.side-panel.collapsed {
  width: 72px;
  padding: 16px 10px;
}

.title {
  font-weight: bold;
  font-size: 1.75rem;
  white-space: nowrap;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.side-panel.collapsed .header {
  height: 80px;
  justify-content: center;
}

.close-btn {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 10px 20px;
}

.panel-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-top: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.25rem;
  color: #ffffff;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #f3a6a6;
}

.user-info {
  filter: invert(1);
  display: flex;
  cursor: pointer;
  margin-top: 600px;
  font-size: 1.25rem;
  padding: 16px;
  display: flex;
  align-items: center;
  border-top: 1px solid;
  gap: 16px;
}

.close-btn:hover {
  background-color: #f3a6a6;
}

.side-panel.collapsed .menu-item {
  justify-content: center;
  padding: 20px;
  height: 5px;
}
