.wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: #f5f5f5;
    font-family: "Bai Jamjuree", sans-serif;
}

.card {
    width: 1000px;
    height: 700px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px 5px #e5e5e5;
    margin-top: 80px;
}

h1 {
    display: flex;
    justify-content: center;
}