.admin-shell {
  min-height: 100vh;
  background: #ffffff;
  color: #111;
  font-family: "Poppins", "Bai Jamjuree", sans-serif;
}

.admin-shell.admin-dark {
  background: #0f0f10;
  color: #f2f2f2;
}

